body {
    margin: 0;
    padding: 0;
    font-family:  "Nunito Sans", sans-serif;
}

.NavBar {
    background-color: transparent;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    border-bottom: 1px solid #e0e0e0;
}

.NavBar > ul:nth-child(1) {
    display: flex;
    /* justify-content: left; */
    gap : 10px;
    align-items: center;
}

.NavBar > ul:nth-child(1) > li {
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    color: black;
    list-style: none;
    font-size: 15px;
    transition: all 0.3s ease;

}

.SearchMain {
    height: 40px;
    border-radius: 4px;
    width: 18vw;
    border: none;
    color: black;
    font-weight: 100;
    font-size: 15px;
    outline: none;
    background-color: #f4f4f4;

}

.SearchMain::placeholder{
    font-weight: 100;
    color: gray;
    /* text-align: 1; */
    font-size: 17px;
    
}
.search-box > span{
/* position: absolute; */
color: gray;
height: 30px;
font-weight: lighter;
font-size: 30px;
margin-left: 4%;

}

.search-box{
margin: 10%;
/* margin-left: 30%;     */
display: flex;
align-items:center;
/* border: 2px solid #e0e0e0; */
border-radius: 4px;
background-color: #f4f4f4;

}


.SigninButton {
  color: rgba(255, 255, 255, 0.871);
height: 40px;
font-weight: lighter;
font-size: 16px;
border: none;
border-radius: 10px;
margin: 10%;
width: 12vh;
background-color: #181818;
/* margin-left: 4%; */
    transition: all 0.3s ease;
    cursor: pointer;


}


.cart span {
    font-size: 20px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    background-color: #181818;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s ease;

}

.NavBar > ul:nth-child(2) {
    display: flex;
    justify-content: center;
    gap :1%;
    align-items: center;
    
}

.NavBar > ul:nth-child(2) > li {
    margin: 5px;
    /* padding: 10px; */
    font-weight: 600;
    color: black;
    list-style: none;
    font-size: 15px;
}

.cart span:hover {
    background: white;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.SigninButton:hover {
    background: white;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.NavBar > ul:nth-child(1) > li:hover {
     color: rgb(91, 91, 91);
    transform: translateY(-2px);
}


.category {
    position: relative;
    cursor: pointer;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    /* width: 200px; */
    background: white;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 10px;
    display: none;
    border-radius: 6px;
    
}

.category:hover .dropdown{
    display: flex;
    gap : 50px;
}





.logo{
    height: 40px;
}
.slider {
    width: 100%;   
    overflow: hidden;
}

.slides {
    display: flex;
    animation: slide 15s infinite ease-in-out;
}

.slides img {
    width: 100vw;    
    
    object-fit: cover;
    flex-shrink: 0; 
}
@keyframes slide {

    0%   { transform: translateX(0); }
    20%  { transform: translateX(0); }

    25%  { transform: translateX(-100vw); }
    45%  { transform: translateX(-100vw); }

    50%  { transform: translateX(-200vw); }
    70%  { transform: translateX(-200vw); }

    75%  { transform: translateX(0); }
    100% { transform: translateX(0); }
}

.dots {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.dots span {
    height: 8px;
    width: 8px;
    margin: 5px;
    background: rgb(65, 64, 64);
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

 
.dots span:nth-child(1) {
    animation: dot1 15s infinite;
}

 
.dots span:nth-child(2) {
    animation: dot2 15s infinite;
}

 
.dots span:nth-child(3) {
    animation: dot3 15s infinite;
}
 
@keyframes dot1 {
    0%, 20% { opacity: 1; }
    25%, 100% { opacity: 0.5; }
}
 
@keyframes dot2 {
    0%, 24% { opacity: 0.5; }
    25%, 45% { opacity: 1; }
    50%, 100% { opacity: 0.5; }
}
 
@keyframes dot3 {
    0%, 49% { opacity: 0.5; }
    50%, 70% { opacity: 1; }
    75%, 100% { opacity: 0.5; }
}


.Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    margin: 40px;
}

.HomeGrids {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}



.gimg > img {
width: 24vw;
}

.gimg2 > img {
margin: 1px;
width: 19.4vw;
}

.searchdropdown {
    position: absolute;
    top: 101%; /* little gap for smooth effect */
    width: 18vw;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 2px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition: all 0.3s ease;
}


.searchdropdown >h3 {
   background-color: #878787;
   margin: 0;
   height: 25px;
    
}

.searchdropdown > div {
    display: flex;
    align-items: center;
    gap: 10px;
   /* padding: 3px;  */
    border-bottom: 1px solid #e0e0e0;

}

.searchdropdown > div > p{
   font-size: small;
   cursor: pointer;

}

.searchdropdown > div > span{
   font-size: medium;
   margin-left: 2px;

}

.search-box:hover .searchdropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
