<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
<link rel="stylesheet" href="style.css">


</head>
<body>
   
    <footer class="footer">
        <div class="footer-container">

            <div>
                <h3>Contact Us</h3>
                <p>+91 9899990772 | Care@LuxeMon.in</p>
                <p>MONDAY To SATURDAY 10 Am To 6 Pm</p>

                <h3>Discover</h3>
                <p>Gift Cards</p>
                <p>Sale</p>
            </div>

            <div>
                <h3>Explore More</h3>
                <p>New</p>
                <p>Suits</p>
                <p>Kurtas</p>
                <p>Dresses</p>
                <p>Sarees</p>
            </div>

            <div>
                <h3>Customer Experience</h3>
                <p>About Us</p>
                <p>Terms & Conditions</p>
                <p>Shipping Policy</p>
                <p>Return Policy</p>
            </div>

            <div>
                <h3>Subscribe</h3>
                <input type="text" placeholder="Enter your email">

                <h3>Follow Us</h3>
                <div class="social">
                    <span>Instagram</span>
                    <span>FaceBook</span>
                    <span>Twitter</span>
                </div>
            </div>

        </div>
    </footer>

</body>
</html>