<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
<link rel="stylesheet" href="style.css">


</head>
<body>
       <nav class="NavBar">
        <ul>
            <li>

               <a href="../index.html"><img class="logo" src="asset/logo.png" alt=""></a> 

            </li>
            <li class="category">
                Category
                <div class="dropdown">
                    <div>
                        <a href="ProductListing.html"><p>Sarees</p></a>
                        <a href=""><p>Jeans</p></a>
                        <a href=""><p>Leggins</p></a>
                        <a href=""><p>Lehnga Choli</p></a>
                        <a href=""><p>Shirts</p></a>
                        <a href=""><p>Jackets</p></a>
                        <a href=""><p>T-Shirt</p></a>
                        <a href=""><p>TrackSuite</p></a>
                    </div>
                    <div>
                        <a href=""><p>Kurties</p></a>
                        <a href=""><p>InnerWear</p></a>
                        <a href=""><p>NightWear</p></a>
                        <a href=""><p>Trouser</p></a>
                        <a href=""><p>Socks</p></a>
                        <a href=""><p>Dupattas</p></a>
                        <a href=""><p>Tops</p></a>
                        <a href=""><p>Ethinic Wear</p></a>
                    </div>
                    <div>
                        <a href=""><p>Dresses</p></a>
                        <a href=""><p>Sweaters</p></a>
                        <a href=""><p>Hoddies</p></a>
                        <a href=""><p>Shrugs</p></a>
                        <a href=""><p>Gown</p></a>
                    </div>

                </div>
            </li>
            <li>Fashion</li>
            <li>Traditional</li>
            <li>Casual</li>
        </ul>

        <ul>
            <li>
                <div class="search-box">
                    <span class="material-symbols-outlined">search</span>
                    <input class="SearchMain" type="text" placeholder="Search">
                    <div class="searchdropdown">
                        <h3>Trending Searches</h3>
                        <div><span class="material-symbols-outlined">trending_up</span>
                            <p>Sarees</p>
                        </div>
                        <div><span class="material-symbols-outlined">trending_up</span>
                            <p>Jeans</p>
                        </div>
                        <div><span class="material-symbols-outlined">trending_up</span>
                            <p>Leggins</p>
                        </div>
                        <div><span class="material-symbols-outlined">trending_up</span>
                            <p>Lehnga Choli</p>
                        </div>
                    </div>
            </li>
            <li>
                <div class="cart">
                    <span class="material-symbols-outlined">shopping_bag</span>
                </div>
            </li>
            <li>
                <div class="cart">
                    <span class="material-symbols-outlined">favorite</span>
                </div>
            </li>
            <li>
                <button class="SigninButton">
                    Sign Up
                </button>
            </li>
        </ul>
    </nav>

</body>
</html>